/* defaults */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    display: block;
}


/* Navigation */

.header-div {
    background-color: #222;
    max-width: 100%;
}

.nav-div {
    background-color: #222;
    display: block;
    padding: 15px;
}


.logo {
    display: flex;
    background-color: #c78c06;
    padding: 20px 0 60px 0;
}

li a {
    text-decoration: none;
    color: #c78c06;
}

li a:link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: #c78c06;
}

li a:hover {
    background-color: #c78c06;
    color: #222;
}

.searchbar {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

input[type=text] {
    border: 0px;
    width: 100%;
    height: 35px;
    display: block;
    text-justify: center;
}

button.searchbutton {
    display: block;
    background-color: #222;
    border: 1px solid #c78c06;
}

i.fa.fa-search {
    color: #c78c06;
    font-size: 1.5rem;
    margin: 5px;
}

/* banner */

.wrapper.banner {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    background-image: url("images/main-banner.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
}

.banner-div {
    background-color: rgba(34, 34, 34, 0.664);
    padding: 7% 15px;
}

.banner-div h1 {
text-align: left;
line-height: 135%;
}

.banner-div p {
    color: #ffffff;
    line-height: 25px;
    margin-bottom: 30px;
}

a.bannerbutton {
    padding: 30px;
    background-color: #c78c06;
    font-size: 1.2rem;
    color: #222;
    text-decoration: none;
}

i.fa.fa-caret-right {
    font-size: 2rem;
    margin: 5px;
}

/* main */
.main {
    max-width: 1200px;
    margin: auto;
    display: block;
}

/* about */
.wrapper.about {
    background-color: #ffe6ac;
    padding: 20px 15px;
}

.about-image img {
    max-width: 100%;
}

.about-text h2 {
    margin: 25px 0px;
}

.about-text p {
    font-size: 0.8rem;
    line-height: 135%;
}

.our-services h2 {
    width: auto;
    margin: 25px 0px 15px 15px  
}

.card {
    background-color: #ffe6ac;
    margin: 10px 15px;
    display: block;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 30px 15px;
}

.card p {
    font-size: 0.8rem;
    line-height: 135%;
    margin: 15px 15px;
}

.card-button {
    margin: 0 15px 15px 15px;
    padding: 23px;
    background-color: #222;
    font-size: 1.2rem;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
    border: none;
    align-items: center;
}

.card-button i.fa.fa-caret-right {
    font-size: 1.3rem;
    margin: 5px;
}

/* our vision */
.wrapper.vision {
    max-width: 1200px;
    height: auto;
    display: flex;
    padding: 20px 0;
    background-image: url("/images/vision.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.vision-div h4 {
    color:#ffffff;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 15px 15px;
}

.vision-div p {
    color:#ffffff;
    font-size: 0.8rem;
    line-height: 135%;
    margin: 15px 15px;
}

.vision-button {
    margin: 0px 15px;
    padding: 20px;
    background-color: #222;
    font-size: 1.2rem;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #c78c06;
}

.vision-button i.fa.fa-caret-right {
    font-size: 1.3rem;
    margin: 5px;
}

/* Our Team */

.team-div {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    margin: 15px;
}

.our-team h2 {
    margin: 15px 0px  
}

.text-box-1 {
    background-color: #ffe6ac;
    padding: 30px 15px;
    margin-bottom: 15px;
}

.team-div img{
    flex-basis: 100%;
    max-width: 100%;
}

.team-div h4 {
    color: #222;
    font-size: 1.7rem;
    line-height: 135%;
    font-weight: 700;
}

.team-div h5 {
    color: #222;
    font-size: 0.9rem;
    line-height: 135%;
    font-weight: 700;
}

.text-box-2 {
    background-color: #ffe6ac;
    padding: 30px 15px;
    order: 1;
}



@media screen and (min-width: 760px) {
    /* flex grid, at the end only one media query */

    .services {
        grid-area: heading;
    }

    .digital {
        grid-area: digital;
    }

    .marketing {
        grid-area: marketing;
    }

    .video {
        grid-area: video;
    }

    .web {
        grid-area: web;
    }

    .print {
        grid-area: print;
    }

    .our-services {
        display: grid;
        grid-template-columns: 6 fr1;
        grid-template-rows: 3 fr1;
        grid-template-areas:
            "heading heading heading heading heading heading"
            "digital digital digital marketing marketing marketing"
            "video video web web print print"
            "video video web web print print"
        ;
    }

}